/* ===== Header ===== */

.header {
    inline-size: var(--page-width);
    margin-block-start: 100px;
    margin-block-end: 100px;
    padding: var(--header-padding-block) 0 25px;
    border: var(--border-width) solid var(--border-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: var(--accent-font);
    text-transform: uppercase;
}

.header__logo {
    font-size: var(--logo-size);
    line-height: 1;
    text-decoration: none;
}

.header__title {
    font-size: var(--title-size);
    font-weight: normal;
    line-height: 1;
    padding: 0 10px;
    text-align: center;
    max-inline-size: 100%;
    word-wrap: break-word;
}

/* ===== Responsive ===== */

@media (width <=375px) {
    .header {
        margin-block-start: 100px;
    }
}