.modal {
    position: fixed;

    max-width: 357px;
    max-height: fit-content;
    margin: auto;
    padding: 10px;

    border: 2px solid var(--text-color, #000);

    inset: 0;
}

.modal::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

.modal[open] {
    display: flex;
    flex-direction: column;

    padding: 20px;

    gap: 30px;
}

.modal__content {
    display: flex;
    align-items: center;

    gap: 16px;
}

.modal__icon {
    flex-shrink: 0;

    width: 39px;
    height: 39px;
}

.modal__content p {
    margin: 0;

    text-transform: uppercase;

    color: var(--text-color, #000);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;
    line-height: 1.5;
}

.modal__button {
    position: relative;

    overflow: hidden;
    align-self: flex-end;

    width: 100%;
    padding: 10px 20px;

    cursor: pointer;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;
}

.modal__button:focus {
    transition: box-shadow 0.3s ease;

    outline: none;
    box-shadow: 2px 2px 0 0 var(--text-color, #000);
}

.modal__button::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;

    background-color: var(--text-color, #000);
}

.modal__button:hover::before {
    transform: scaleX(1);
}

@media (width <= 375px) {
    .modal {
        max-width: calc(100vw - 40px);
    }

    .modal[open] {
        padding: 30px 42px;

        gap: 30px;
    }

    .modal__content {
        flex-direction: row;

        text-align: start;

        gap: 12px;
    }

    .modal__button {
        align-self: center;
    }
}
