.page {
    padding-top: 100px;

    background-image: var(--page-background);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    line-height: 21px;

    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-variation-settings: 'wght' var(--card-text-weight) 400;
}

.main {
    width: var(--content-width);
    margin: 100px auto 0 auto;
}

.card {
    margin-top: 48px;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);
}

.card__title {
    padding: 4px 10px;

    font-size: 18px;
    line-height: 23px;
}

.card__text-container {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    padding-bottom: 27px;

    gap: 27px;
}

.card__text {
    padding: 0 25px;
}

.card__image-container {
    position: relative;
}

.card__label {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 25px;

    opacity: 0.5;
    color: var(--text-color, #000);
    text-shadow: -1px -1px 0 var(--bg-color),
    1px -1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color),
    1px 1px 0 var(--bg-color);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;

    mix-blend-mode: hard-light;
}

.card__image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;

    border-block: 2px solid var(--text-color, #000);
}

.image-nostalgia {
    filter: sepia(0.8) hue-rotate(-10deg) contrast(0.8) brightness(0.9);
}

.image-uncertainty {
    filter: blur(2px) hue-rotate(200deg) saturate(0.8) brightness(1.1);
}

.image-anxiety {
    filter: invert(0.15) contrast(1.8) brightness(0.7) saturate(1.4);
}

.image-perfection {
    filter: contrast(1.6) saturate(0.9) brightness(1.05) hue-rotate(420deg);
}

.image-support {
    filter: brightness(1.1) sepia(0.3) hue-rotate(350deg) contrast(1.05);
}

.image-breakthrough {
    filter: hue-rotate(120deg) saturate(1.6) contrast(1.4) brightness(0.95);
}

.image-exhaustion {
    filter: grayscale(0.7) brightness(0.8) contrast(1.2) opacity(0.9);
}

.image-triumph {
    filter: contrast(1.7) saturate(1.5) brightness(1.1) hue-rotate(300deg);
}

.card__buttons {
    display: flex;
    justify-content: end;

    padding: 0 25px 25px 0;
}

.card__like-button {
    position: relative;

    overflow: hidden;

    width: 130px;
    height: 39px;

    cursor: pointer;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);

    font-family: var(--accent-font, sans-serif);
    font-size: 14px;
}

.card__icon-button {
    position: relative;

    width: 52px;
    height: 39px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: border-color 0.3s ease;

    border: 2px solid transparent;
    background-color: transparent;
}

.button__text {
    position: relative;

    color: var(--bg-color, #fff);

    mix-blend-mode: difference;
}

.save__button {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    margin: 50px auto 100px;
    padding: 15px 20px;

    cursor: pointer;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;

    gap: 8px;
}

.button__icon {
    position: relative;

    flex-shrink: 0;

    width: 28px;
    height: 28px;

    transition: color 0.5s ease-in-out;

    color: var(--bg-color, #fff);
    mix-blend-mode: difference;
}

.card__like-button:focus,
.save__button:focus {
    transition: box-shadow 0.3s ease;

    outline: none;
    box-shadow: 2px 2px 0 0 var(--text-color, #000);
}

.card__icon-button:focus {
    outline: none;
    border: none;
}

.card__like-button::before,
.save__button::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;

    background-color: var(--text-color, #000);
}

.card__like-button:hover::before,
.save__button:hover::before {
    transform: scaleX(1);
}

.sparks {
    opacity: 0;
}

.core {
    transition: fill 0.3s 0.03s;

    fill: var(--bg-color, #fff);
}

.main-body {
    transition: fill 0.3s 0.05s;

    fill: var(--bg-color, #fff);
}

.heart {
    transform-origin: center;
}

.like-icon:hover .core {
    transition-delay: 0s;

    fill: var(--contour-color);
}

.like-icon:hover .main-body {
    transition-delay: 0.05s;

    fill: var(--contour-color);
}

.like-icon .core {
    transition-delay: 0.03s;
}

.like-icon .main-body {
    transition-delay: 0s;
}

.like-icon:active .core {
    transition-delay: 0s;

    fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
    transition-delay: 0.05s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
    transition-delay: 0s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
    transition-delay: 0.05s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
    transition: fill 0.3s 0.06s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
    animation: scale-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
    animation: sparks-opacity 0.3s 0.3s ease-in;
}

.like-icon .contour {
    transition: fill 0.1s linear;
}

@media (width <= 375px) {
    .main {
        width: 100%;
    }

    .card__text-container {
        margin-top: 4px;
        padding-bottom: 27px;

        gap: 29px;
    }

    .card__text {
        padding: 0 25px;
    }

    .save__button {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        gap: 8px;
    }

    .card__label {
        top: 15px;
        right: 15px;
    }
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
    .card__label {
        text-shadow: none;

        -webkit-text-stroke: 1px var(--bg-color);
        text-stroke: 1px var(--bg-color);
    }
}
