:root {
    /* === Мобильные значения по умолчанию === */
    --main-font: 'Inter Variable', sans-serif;
    --accent-font: 'Press Start 2P', fantasy;

    --main-weight: 400;
    --title-weight: 700;

    --bg-color: #fff;
    --text-color: #000;
    --accent-color: #000;
    --border-color: #000;

    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --gradient-pattern: #d3d3d3;

    --contour-color: #000;
    --animation-fill-color: #ff0000;

    --label-stroke-color: #fff;

    --button-bg: #fff;
    --button-text: #fff;
    --button-hover-bg: #000;

    /* Мобильные размеры */
    --page-width: 100%;
    --header-padding-block: 7.5rem;
    --card-spacing: 3rem;
    --section-spacing: 3rem;

    /* Мобильные шрифты */
    --logo-size: 49px;
    --title-size: 14px;
    --card-title-size: 18px;
    --label-size: 14px;

    --border-width: 2px;
}

/* === Десктоп / планшеты шире 375px === */
@media (min-width: 769px) {
    :root {
        --page-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
        --header-padding-block: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
        --card-spacing: 50px;
        --section-spacing: 100px;

        --logo-size: 65px;
        --title-size: 23px;
    }
}
